body {
  background-color: black;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 30vh;
}

.redBut {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(173, 216, 230, 0.5);
  margin: auto auto;
  padding: 100px 100px;
}

.className {
  margin: 10px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 30px;
}
