.wrapper {
  display: flex;
  justify-content: center;
}

.redBut {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  margin: auto auto;
  padding: 200px 300px;
}
